<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Hello Admin Index Page!</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<main>
    <div class="container marketing">
        <h2>Przepisy management panel</h2>
        <ul>
            <li>
                <a th:href="@{/przepis/add}">Dodaj przepis</a>
            </li>
            <li>
                <a th:href="@{/skladnik/add}">Dodaj składnik</a>
            </li>
        </ul>
        <hr>
        <h3>Przepisy: </h3>
        <table>
            <tr th:each="przepis : ${przepisy}">
                <td th:text="${przepis.id}"></td>
                <td th:text="${przepis.name}"></td>
                <td th:text="${przepis.iloscSkladnikow}"></td>
                <td>
                    <a th:href="@{/przepis/skladnik/add(przepisId=${przepis.id})}">Dodaj składnik</a>
                </td>
            </tr>
        </table>
        <hr>
        <h3>Składniki: </h3>
        <table>
            <tr th:each="skladnik : ${skladniki}">
                <td th:text="${skladnik.id}"></td>
                <td th:text="${skladnik.nazwa}"></td>
            </tr>
        </table>
    </div>
</main>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>