<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skladnik list</title>
    <style>
        html {
            background-color: #87eeee;
        }

        td {
            border: 1px solid red;
        }
    </style>
</head>
<body>
<ul>
    <li>
        <a th:href="@{/skladnik}">Lista</a>
    </li>
    <li>
        <a th:href="@{/skladnik/add}">Dodaj</a>
    </li>

</ul>

<form th:action="@{/skladnik/add}" method="post" th:object="${nowy_skladnik}">
    <input type="number" hidden th:field="*{id}">
    <input type="text"  th:field="*{nazwa}">

</form>
</body>
</html>